.post {
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-auto-rows: max-content;
  align-items: center;
  gap: 10px;
}

.profilePic {
  width: 60px;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 10px;
  align-self: flex-start;
}

.authorTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.postTime {
  font-size: 0.8rem;
  text-align: right;
}

.displayName {
  font-weight: 600;
  font-size: 1.1rem;
}

.email {
  font-size: 0.8rem;
}

.caption {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  font-size: 1.2rem;
  padding: 10px 0;
}

.postImage {
  grid-column: 1 / 3;
  width: 100%;
  max-width: 300px;
  height: auto;
  justify-self: center;
  border-radius: 10px;
}

.likesComments {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  gap: 15px;
}

.likes,
.comments {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 3px;
}

.likes:hover,
.comments:hover {
  box-shadow: 2px 2px 3px 3px grey;
}

.liked {
  filter: invert(20%) sepia(55%) saturate(7240%) hue-rotate(354deg)
    brightness(93%) contrast(123%);
}

.likeIcon,
.commentIcon {
  height: 25px;
  width: auto;
}

.commentSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / 3;
}

.commentsTitle {
  font-weight: 600;
  font-size: 1.2rem;
}

.comment {
  border: solid 2px black;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.commentPic {
  width: 50px;
  height: auto;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  border-radius: 5px;
}

.commentAuthor {
  grid-row: 1 / 2;
}

.commentEmail {
  font-weight: 300;
  font-size: 0.9rem;
}

.commentText {
  grid-row: 2 / 3;
}

.commentsInput {
  display: flex;
  gap: 5px;
  padding: 5px;
  width: 90%;
}

.commentsInput input[type="text"] {
  width: 100%;
}
