:root {
  --border: solid 2px white;
  --border-radius: 5px;
  --svg-filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(161deg)
    brightness(103%) contrast(106%);
  --bg-color: rgb(54, 54, 54);
}

html {
  font-family: "Chelsea Market", system-ui;
  background-color: var(--bg-color);
  color: white;
}

.actionIcon {
  width: 15px;
  height: auto;
  border: var(--border);
  border-color: black;
  border-radius: var(--border-radius);
  filter: var(--svg-filter);
  padding: 2px;
}

.actionIcon:hover {
  box-shadow: 0 0 3px 3px grey;
}

.genericPic {
  filter: var(--svg-filter);
}
