.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followingUsers {
  width: 100%;
}

.user {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 5px;
  display: grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: max-content;
  margin-bottom: 3px;
}

.user:hover {
  box-shadow: 2px 2px 3px 3px grey;
}

.displayName {
  font-weight: 600;
  font-size: 1.2rem;
}

.profilePic {
  width: 50px;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 5px;
}

.email {
  font-size: 0.9rem;
}
